.env
node_modules/
istio-1.23.0/
terraform.tfstate

# Terraform
infra/terraform/.terraform/
infra/terraform/*.tfstate
infra/terraform/*.tfstate.*
infra/terraform/terraform.tfvars
infra/terraform/crash.log
infra/terraform/.terraform.lock.hcl

# Ansible
infra/ansible/*.retry
infra/ansible/*.vault_pass

# Terraform provider binaries and lock
infra/terraform/modules/**/.terraform/
infra/terraform/modules/**/.terraform.lock.hcl

# Ansible config & inventory
infra/ansible/ansible.cfg
infra/ansible/inventory/

